<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-lighten-1"><%= @client.name() %></h1>
      <div class="row center">
        <a href="/clients" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">View Other Clients</a>
        <a href="/" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Return Home</a>
      </div>
      <br><br>

    </div>
  </div>
</div>

<div class="row container">
  <div class="center">
    <h2>Client Details</h2>
    <h4>Name: <%= @client.name() %></h4>
    <% @stylists.each() do |stylist| %>
      <% if stylist.id() == @client.stylist_id() %>
        <h4>Stylist: <%= stylist.name() %></h4>
      <% end %>
    <% end %>
    <p>
      <a class="btn waves-effect waves-light red" href="/clients/<%= @client.id() %>/edit">Edit</a>
      <form action="/clients/<%= @client.id() %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn waves-effect waves-light red" type="submit">Delete</button>
      </form>
    </p>
  </div>
</div>
