<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-lighten-1"><%= @stylist.name() %></h1>
      <div class="row center">
        <a href="/stylists" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">View Other Stylists</a>
        <a href="/" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Return Home</a>
      </div>
      <br>

    </div>
  </div>
  <div class="parallax"><img src="<%= url('img/background1.jpg') %>" alt="Unsplashed background img 1"></div>
</div>

<div class="row container">
  <div class="center">
    <h3>Stylist Details</h3>
    <h5>Name: <%= @stylist.name() %></h5>
    <br>
    <% if @stylist.clients().any?() %>
      <h3><%= @stylist.name() %>'s Clients</h3>
      <% @stylist.clients().each() do |client| %>
        <p><h5 class="red-text text-lighten-1"><%= client.name() %></h5></p>
      <% end %>
    <% else %>
      <h3>This stylist has no clients.</h3>
    <% end %>

    <h3>Add a client to <em><%= @stylist.name() %></em> </h3>

    <form class="center-row container" action="/clients" method="post">
      <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">
      <div class="input-field">
        <label for="name"></label>
        <input placeholder="Client Name" id="name" name="name" type="text">
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light amber" type="submit">Add client</button>
      </div>
    </form>

    <br>

    <p>
      <a class="btn waves-effect waves-light red" href="/stylists/<%= @stylist.id() %>/edit">Edit</a>
      <form action="/stylists/<%= @stylist.id() %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn waves-effect waves-light red" type="submit">Delete</button>
      </form>
    </p>


  </div>
</div>
